
NetworkNavigator/NetworkNavigator.xcodeproj/project.xcworkspace/xcuserdata/Coleman.xcuserdatad/UserInterfaceState.xcuserstate

NetworkNavigator.xcworkspace/xcuserdata/Coleman.xcuserdatad/UserInterfaceState.xcuserstate

NetworkNavigator.xcworkspace/xcuserdata/Coleman.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
